// The Embark website has a background image and embeds digitransit's route search
// page using an iframe. As long as the route search page is shown, we want all
// "major" elements (body, #mainContent, etc.) to be transparent, so that the
// background image is visible.
// Whenever any other digitransit page is shown, the following styles do not apply.
// app/component/EmbeddedRouteSearchContainer.js adds this class to <body>.
body.route-search-page {
    background-color: transparent !important;
    #mainContent {
        background-color: transparent;
    }
}

body.route-search-page .route-search-page {
    height: 100%;
    max-height: initial;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .embedded-route-search-container {
        margin-top: 6em;
        margin-left: 6em;
        padding-left: 1em;
        padding-right: 1em;
        background-color: white;
        border-radius: 4px;
        // allow the search dropdown menu to overlap the container
        overflow: visible;

        .okc-travel-tools {
            display: flex;
            flex-wrap: wrap;
            column-gap: 1em;
            list-style: none;
            padding-left: 0;
            font-weight: normal;
            a {
              white-space: nowrap;
            }
        }
    }
    .embedded-route-search-container.mobile {
        margin: 1em;

        .embedded-route-search-container-heading {
            margin-left: 0;
        }
    }
    .embedded-route-search-container.embedded-seach-container {
        width: initial;
        max-width: 26em;
        height: initial;
    }

    .embedded-route-search-container-heading {
        line-height: 1.5em;
        margin-bottom: .5em;
    }
    .embedded-route-search-container-heading-logo {
        height: 1.3em;
        padding: 1px 20px 5px 0px;
    }

    .control-panel-container ul {
        margin: 20px 0 10px 0;
    }
}
