$mobile-gutter: 16px;

.mobile.top-bar {
  height: $mobile-top-bar-height;
  min-height: $mobile-top-bar-height;

  section.title {
    padding-left: 20px;
  }
  .logo {
    min-height: 21.5px;
  }
  .back-to-embark-link {
    margin-right: 20px;

    span:first-of-type {
      display: none;
    }
  }
}

.mobile.top-bar + section.content {
  max-height: calc(100vh - #{$mobile-top-bar-height});
}

.mobile {
  h1, .h1 {
    margin: 24px 0px 18px 0;
    margin-left: 0;
    font-size: 32px;
    line-height: 1;
  }
  .front-page {
    margin-top: 0;
  }

  /* RouteSearch */
  .control-panel-container > ul:nth-child(4) {
    font-size: 18px;
  }
  .styles_container .styles_input {
    padding-right: 38px;
  }

  .container .input {
    font-size: 16px;
  }

  #stop-route-station {
    padding-right: 2px;
    &::placeholder {
      font-size: 16px;
    }
  }

  // Stops Near You Page
  .stops-near-you-page {
    padding: 5px 20px 0; // was padding: 5px 0.625em 0;
  }
  .stops-near-you-page .stop-near-you-container .stop-near-you-inner-container {
    width: calc(100%); // was width: calc(100% + 10px);
  }
  .stops-near-you-page .stop-near-you-container {
    width: calc(100% + 10px); // was width: calc(100% + 20px);
  }

  .stops-near-you-search-container {
    /* padding: 0 5px 15px; */
    padding: 0 0px 15px;
  }

  /* stops page */
  .card-header-wrapper h1 {
    font-size: 32px;
    line-height: 1;
    margin-bottom: 18px;
    font-weight: bold;
  }

  .stop-page.card-header {
    padding-bottom: 20px;
  }

  .stop-page-content-wrapper {
    margin-top: 30px;
  }

  /* Route page */
  .header.card-header {
    padding: 8px $mobile-gutter 0em $mobile-gutter;
  }
  .route-header .route-info .route-short-name {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 18px;
  }
  .card-header.header {
    border-bottom: initial;
  }
  .route-pattern-select {
    margin: 1px $mobile-gutter 18px $mobile-gutter;
  }
  .before-scrollable-area {
    display: none;
  }
  .route-page-control-panel-container {
    padding-bottom: 10px;
  }
  .route-page-container .route-page-control-panel-container {
    margin: initial;
  }
  .location-details_container .route-stop-row_content-container button .route-details_container .route-stop-name {
    font-size: 16px;
  }

  /* Settings page */
  .offcanvas-mobile {
    .customize-search .close-offcanvas {
      border: initial;
      top: calc(24px + 3px);
      left: 16px;
      width: 1em;
      height: 1em;
    }
    .walk-options-container {
      padding-top: 8px;
    }
    .settings-option-container {
      padding: 8px 16px;
      h2 {
        padding: calc(24px - 8px) 0 calc(18px - 8px) 0;
        padding-left: 40px;
        font-size: 32px;
        line-height: 1;
        text-align: initial;
      }
    }
  }

  /* Trip Results page */
  .summary-navigation-container {
    margin: 0 $mobile-gutter;

    h1 {
      padding-left: 40px;
    }
  }
  .summary h2 {
    padding-left: $mobile-gutter;
  }
  .itinerary-summary-row {
    padding-left: $mobile-gutter;
    padding-right: $mobile-gutter;
  }
  .street-mode-selector-container {
    padding-left: $mobile-gutter;
    padding-right: $mobile-gutter;
    padding-top: 25px;
    h3 {
      padding: 0px;
    }
    .street-mode-selector-button-container {
      padding: 0px;
    }
    .street-mode-button-row {
      gap: 5px;
    }
  }
  .back-title {
    // don't show Back-Message
    display: none;
  }
  .summary-navigation-container .back-button {
    position: absolute;
    top: 7px;
    padding: 0 !important;
    .icon-holder {
      position: static;
      width: unset;
      height: unset;
      font-size: 21px;
      border: none;
      background-color: initial;
      .icon {
        width: 1em;
        height: 1em;
      }
    }
  }
  /* Trips itinerary page */
  // The itinerary page puts the h1 right inside .content-container, so we need margin-left.
  .drawer-container .content-container > h1 {
    margin-left: $mobile-gutter;
  }
  .swipe-header-container {
    display: none;
  }
  @media only screen {
    .column, .columns {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  .small-2 {
    width: 20%;
  }

  .itinerary-tab .itinerary-main {
    margin-left: $mobile-gutter;
    margin-right: $mobile-gutter;
  }
}

/* Alerts view */
#mainContent .alerts-view > .mobile {
  padding-left: $mobile-gutter;
  padding-right: $mobile-gutter;
  & > *[role="main"] {
    position: relative;

    h1 {
      margin-left: 40px;
    }

    .back-button {
      position: absolute;
      top: calc(24px + 6px);

      .icon-holder {
        position: static;
        font-size: 21px;
        border: none;
        background-color: initial;
        box-shadow: none;
        .icon {
          width: 1em;
          height: 1em;
        }
      }
    }
  }

  .alerts-view-search-dialog {
    margin: 0;
  }
  .alerts-list {
    border-left: none;
    min-height: unset;
  }
  .alerts-view-alert {
    padding: 30px 0;
  }
}
