.mobile.top-bar {
  height: $mobile-top-bar-height;
  min-height: $mobile-top-bar-height;

  section.title {
    padding-left: 20px;
  }
  .logo {
    min-height: 21.5px;
  }
  .back-to-embark-link {
    margin-right: 20px;

    span:first-of-type {
      display: none;
    }
  }
}

.mobile.top-bar + section.content {
  max-height: calc(100vh - #{$mobile-top-bar-height});
}

$mobile-gutter: 16px;

.mobile {
  h1, .h1 {
    margin: 20px; // TODO: perhaps better wrap in container instead
    line-height: 45px;
  }

  .stops-near-you-page {
    padding: 5px 20px 0; // was padding: 5px 0.625em 0;
  }

  .stops-near-you-page .stop-near-you-container .stop-near-you-inner-container {
    width: calc(100%); // was width: calc(100% + 10px);
  }
  .stops-near-you-page .stop-near-you-container {
    width: calc(100% + 10px); // was width: calc(100% + 20px);
  }

  .stops-near-you-search-container {
    /* padding: 0 5px 15px; */
    padding: 0 0px 15px;
  }

  /* stops page */
  .card-header-wrapper h1 {
    /* font-size: 18px; */
    /* line-height: 22px; */
    font-size: 42px;
    line-height: 42px;
    margin-bottom: 15px;
    font-weight: bold;
  }

  .stop-page.card-header {
    padding-bottom: 20px;
  }

  .stop-page-content-wrapper {
    margin-top: 30px;
  }

  /* Route page */
  .header.card-header {
    padding: 8px $mobile-gutter 0em $mobile-gutter;
  }
  .route-header .route-info .route-short-name {
    font-weight: bold;
    font-size: $font-size-xlarge;
    margin-bottom: 15px;
  }
  .card-header.header {
    border-bottom: initial;
  }
  .route-pattern-select {
    margin: 1px $mobile-gutter 18px $mobile-gutter;
  }
  .before-scrollable-area {
    display: none;
  }
  .route-page-control-panel-container {
    padding-bottom: 10px;
  }
  .route-page-container .route-page-control-panel-container {
    margin: initial;
  }
}
