/* General overrides */
h1, .h1 {
  font-size: $font-size-xlarge;
  font-weight: $font-weight-bold;
}

h2, .h2 {
  font-size: $font-size-large;
  font-weight: $font-weight-bolder;
  letter-spacing: initial;
}

body {
  color: $black;
  font-size: $font-size-normal;
}

.container .input {
  font-family: $font-family;
  border-radius: 4px;
  font-size: $font-size-normal;
  color: $black;
}

.button-shared {
  &:hover {
  box-shadow: initial;
  }
}
/* page header */

.back-button button {
  font-size: $font-size-normal;
}

.card-header.header {
  padding-bottom: 30px;
  border-bottom: 1px solid $lighter-gray;
  .back-button {
    button {
      position: initial;
      left: initial;
      top: initial;
    }
  }
}

/* embedded route search widget (Embark start page) */
.embedded-route-search-container .icon-container {
	vertical-align: middle;
}

/* Stops page */
.card-header .card-header-content {
  flex-direction: column;
   align-items: initial;

   .favourite-icon {
     display: flex;
     gap: 10px;
     align-items: center;
  }
}
.route-address-row-container .route-stop-address-row {
   color: $black;
   font-size: $font-size-normal;
}

.tab-container {
  background-color: $gray;
  margin: 34px 56px 16px 58px;
}
.tab-singletab + .tab-singletab, .tab-singletab:hover + .tab-singletab {
  border-left: none;
}
.tab-singletab {
  color: #fff;
}

.tab-singletab.active, .tab-singletab.active:hover, .tab-singletab:hover {
  background-color: #ffffff;
  font-weight: 400;
  color: $black;
}
.tab-singletab .no-alerts span, .tab-singletab:hover .no-alerts span {
  color: inherit;
}

.departure-row {
  font-weight: normal;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  color: $black;

  .headsign {
  color: inherit;
  font-size: $font-size-normal;
  font-weight: $font-weight-bold;
  line-height: 1.0;
  }
  .route-arrival {
  color: inherit;
  }

  .route-number-container .route-number {
    justify-content: flex-start; // center;
    gap: 5px;
    align-items: center;
    display: flex;
    .icon-container {
      position: unset;
    }
  }
}

.desktop .stop-page.departure-list .departure-row .route-headsign {
  padding-left: $padding-medium;
  padding-right: $padding-medium;
}

.stop-page.departure-list .departure-row .route-number-container {
  background-color: $white;
  align-self: flex-start;
  color: $black;
  width: 4.0em;
  height: 2.0em;
  font-size: $font-size-normal;
  .route-number {
    color: inherit;
  }
}
.stop-page.departure-list .departure-row .route-number-container .route-number .icon-container {
  // move icon left to compensate svg padding
  left: -5px;
}

.departure-list-legend {
  font-style: italic;
  font-size: $font-size-xxsmall;
  display: flex;
  justify-content: space-between;
  .realtime {
  color: $realtime-color;
  }
}

.stop-page.departure-list {
  padding: 0px 0px 15px 0px;
  .departure-row {
    padding: 20px 0px 20px 0px;
  }
}

.stop-page-departure-wrapper {
  // align legend at bottom
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stop-no-alerts-container,
.stop-constant-operation-container,
.stop-no-departures-container {
  align-items: center;
  background-color: white;
  color: $black;
  min-height: inherit;
}

#mainContent > .desktop,
#mainContent .alerts-view > .desktop {
  .back-button {
    position: initial;

    button {
      position: initial;
      left: initial;
      top: initial;
    }
  }

  .arrow-icon {
     margin: 0 0.6em 0 0;
  }

  .header h1 {
    font-weight: $font-weight-bold;
    font-size: $font-size-xlarge;
    color: $black;
    display: block;
    margin-top: 20px;
    margin-bottom: 15px;
  }

  .desktop-title {
    h1 {
      font-weight: $font-weight-bold;
      color: $black;
      display: block;
      margin-top: 20px;
      line-height: 42px;
    }

    .arrow-icon {
     margin: 0 0.6em 0 0;
     }

    .title-container {
      margin-left: 60px;
    }
  }
}

.back-button-label {
  font-size: $font-size-normal;
  font-weight: $font-weight-normal;
  padding-top: 3px;
  line-height: 21px;
}

/* OKC top bar styling */
nav.top-bar {
  flex-shrink: 0;
  height: 81px;
  border-bottom-width: 6px;
  border-bottom-style: inset;
  border-bottom-color: $primary-color;

  .logo {
    height: 100%;
    min-height: 27px;
  }
}
nav.top-bar + section.content {
  // subtract height of the top bar
  max-height: calc(100vh - 100px);
}

.back-to-embark-link {
  text-decoration: none;
  cursor: pointer;
  margin-right: 60px;
  display: flex;
  align-items: center;
  .icon-container {
    margin-left: .5em;
    padding-bottom: 4px;
  }

  @media print {
    display: none;
  }
}

/* EMBARK leg / vehicle bar styling shall use
   route-color for outline and vehicle symbol */
.bar {
  border-color: currentColor;
  background-color: $white;
  border: 1px solid;
  height: 48px;

  display: flex;
  align-items: center;

  &.walk, &.bicycle_walk {
    border: 1px solid $gray;
    background-color: $white;
    color: $black;
  }
}

.vehicle-number-container-v .vehicle-number {
  color: $black;
}

/* EMBARK map leg bar styling shall use
   route-color for outline and vehicle symbol */

.map .legmarker div {
  border-color: currentColor;
  background-color: $white;
  border: 1px solid;
}

.map-route-number {
  color: $black;
}

.map-routing-button {
  color: $black;
}
.street-mode-selector-container {
  background-color: #fff;
  border-top: 1px solid $lighter-gray;
  border-bottom: 1px solid $lighter-gray;
  padding-bottom: 15px;
  margin-bottom: 5px;
  margin-top: 25px;

  h3 {
    padding: 30px 0px 10px 20px;
  }

  .street-mode-selector-button-container {
    border: none;
    box-shadow: none;
    padding: 0px 20px;
    color: $black;
    flex-basis: initial;
  }

  .street-mode-selector-button-content {
    margin: initial;
    .street-mode-selector-button-icon .icon-container .icon {
      fill: $gray;
    }
    .street-mode-button-info {
      display: flex;
      align-items: baseline;

      margin-top: 4px;
      .street-mode-button-time {
          font-size: $font-size-small;
          font-weight: $font-weight-medium;
          height: initial;
          line-height: 1em;
          white-space: nowrap;
      }
      .street-mode-button-length {
        font-size: $font-size-xxsmall;
        padding-left: 3px;
      }
    }
  }

  .summary-clickable-area {
    border-bottom: 1px solid #00f;
  }
}

.summary h2 {
  visibility: visible;
  padding-left: 60px;
  margin-bottom: 10px;
}

.summary-navigation-container {
  position: relative; // Set relative, to allow positioning of itinerary-search-control
}

.itinerary-summary-row .itinerary-legs .leg .route-number .vcenter-children.walk, .itinerary-summary-row .itinerary-legs .leg .route-number .vcenter-children.citybike, .itinerary-summary-row .itinerary-legs .leg .route-number .vcenter-children.bicycle, .itinerary-summary-row .itinerary-legs .leg .route-number .vcenter-children.wait, .itinerary-summary-row .itinerary-legs .leg .route-number .vcenter-children.bicycle_walk, .itinerary-summary-row .itinerary-legs .leg .route-number .vcenter-children.car {
display: inherit;
min-width: unset;
}

.itinerary-summary-row .itinerary-legs .leg.bike_park,
.itinerary-summary-row .itinerary-legs .leg.car_park {
  min-width: 48px;
  border: 1px solid $gray;
  height: initial;
}

.itinerary-summary-row .itinerary-legs .leg .route-number .vcenter-children.bicycle .icon,
.itinerary-summary-row .itinerary-legs .leg .route-number .vcenter-children.wait .icon {
  width: 28px;
  height: 28px;
  fill: $gray;
}

.itinerary-summary-row .itinerary-legs {
  gap: 2px;
}

.summary-list-container {
  border-top: none;
}
.itinerary-summary-row {
  .action-arrow {
    display: initial;
    align-items: initial;
    top: 52px;
    position: relative;
  }
  &.bp-large .action-arrow-click-area {
    padding: 17px 15px 0 20px;
    margin-left: 0px;
  }
  .itinerary-first-leg-start-time-container .itinerary-first-leg-start-time {
    font-size: $font-size-xxsmall;
    .start-time {
      font-weight: $font-weight-bold;
    }
  }

  .itinerary-legs .leg .route-number {
    height: initial;
    color: $white;
    .leg-duration-container .leg-duration {
      color: $black;
      font-size: $font-size-xxsmall;
    }
    .line .icon {
      font-size: 43px;
    }
    .vcenter-children.walk .icon {
      width: 28px;
      fill: $gray;
      margin-left: 4px;
    }
    .special-icon {
      height: inherit;
    }
    .vehicle-number-container-v .vehicle-number {
      font-weight: $font-weight-normal;
      font-size: $font-size-normal;
    }
  }
  .itinerary-duration-container {
    font-weight: $font-weight-bold;
    padding: 20px 0px 10px;
    /* swap duration and start/end time */
    .itinerary-start-time-and-end-time {
      float: right;
     }
     .itinerary-duration {
    float: left;
    .icon-container {
      padding-right: 20px;
    }
     }
     .itinerary-start-date {
      float: right;
     }
   }
}

.itinerary-summary-row .summary-clickable-area {
  padding-bottom: 20px;
}

.itinerary-summary-row.bp-large .summary-clickable-area {
  max-width: calc(100% - 60px);
}

.desktop .itinerary-summary-row:before {
  height: calc(100% - 37px);
}

/* Map */
div.map .leaflet-container .leaflet-control-attribution a {
  color: $gray;
}

/* Plan A Trip Page overrides
=> See as well digitransit-compponent-control-panel/src/helpers/styles.scss
*/
.top-bar section.title {
   padding-left: 50px;
}
.right-offcanvas-toggle {
  .settings-button-text {
    margin-top: 0px;
    font-size: $font-size-small;
  }
  > div {
    > div {
      align-items: center;
    }
  }
}

/* Settings overrides*/
.settings-option-container h2 {
  padding-top: 88px;
  font-size: $font-size-xlarge;
  font-weight: $font-weight-bold;
}

.settings-dropdown-wrapper .fake-select-arrow {
  height: .7em;
  width: .7em;
}

.settings-dropdown-wrapper .settings-dropdown-label {
  color: $black;
  font-size: $font-size-normal;
  padding: 0;
  align-items: center;

  .settings-dropdown-text-container {
    margin: 16px 0;
  }
  .settings-dropdown-label-text {
    margin: 20px 0;
    color: inherit;
    font-size: inherit;
  }
  .settings-dropdown-label-value {
    float: none;
    margin: 0;
    color: inherit;
    font-size: inherit;
  }
}
.settings-dropdown-wrapper .settings-dropdown .settings-dropdown-choice {
  color: $black;
  font-size: $font-size-normal;
  .kmh-value {
    color: inherit;
  }
}
.settings-dropdown-wrapper .icon-container {
  float: none;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}

.customize-search .walk-options-container {
  padding-left: 16px;
}

.customize-search .walk-options-container label.toggle-label {
  color: $black;
  font-size: $font-size-normal;
  margin-top: 20px;
  margin-left: 0;

  .toggle-label-text {
    padding-top: 0;
  }
}

.settings-mode-option-container .settings-mode-option-label {
  padding: 0;
  .settings-mode-option-label-text-container {
    align-items: center;
  }
  .settings-mode-option-label-text {
    color: $black;
  }
}

.settings-header {
  color: $black;
  font-weight: $font-weight-bolder;
  padding-left: 16px;
}

.mode-option-container {
  border-bottom: 1px solid #d5d5d5;
}

.mode-option-container label.toggle-label {
  font-size: $font-size-normal;
  font-weight: $font-weight-medium;
}

.mode-option-container .mode-option-block {
  min-height: initial;
  margin: 12px 0;

  .icon {
    margin-top: 0;
    width: 36px;
    height: 36px;
    vertical-align: middle;
  }
  // todo: there also is `div.mode-name`
  label.mode-name  {
    font-weight: $font-weight-medium;
    font-size: $font-size-normal;
    align-items: center;
    > span {
      margin-top: 0;
      line-height: inherit;
    }
  }

  .accessibility-container .wheelchair-icon {
    height: 36px;
    width: 36px;
  }
}

.customize-search {
  .settings-section {
    padding-bottom: 0;
    border-bottom: 1px solid #d5d5d5;
  }

  .toggle-container .icon-container {
    margin: 0 14.72px;
  }

  .option-toggle-container {
    align-self: initial;
  }

  .avoid-transfers-container .settings-header {
    font-weight: 400;
  }

  .accessibility-container {
    height: initial;
    margin: 12px 0;
    padding: 0;

    .wheelchair-icon {
      vertical-align: middle;
    }
  }
}

.street-modes-container .settings-dropdown-wrapper {
  margin-left: 66px;
}

/* Nearby stops */

span.itinerary-stop-code {
  color: $black;
  border-color: $gray;
  border-radius: $embark-border-radius;
  font-size: $font-size-small;
  font-weight: $font-weight-bolder;
}
// TODO: Mockup differs in styling...
.row.itinerary-row span.itinerary-stop-code {
  border-color: $lighter-gray;
  border-radius: $embark-border-radius;
  font-size: $font-size-xxsmall;
  font-weight: $font-weight-normal;
  padding: 3px 7px;
}

.stops-near-you-page {
  .stop-near-you-container {
    width: calc(100% + 20px); // remove lolipop padding
    .stop-near-you-inner-container {
      width: calc(100% + 10px);
    }
  }
  .divider-bottom {
    position: relative;
    margin: 20px 0px 15px;
    width: 600px;
    left: -60px;
    height: 1px;
    border-top: 1px solid #dddddd;
    box-sizing: border-box;
    @media print {
      border: none;
    }
  }
}

.stop-near-you-left-col {
  font-size: $font-size-normal;
  gap: 10px;
}

.stop-near-you-right-col {
  font-size: $font-size-normal;
  flex-grow: 1;
  line-height: 1; // vertical align with inbound/outbound symbol
}
.stops-near-you-page .stop-near-you-container .stop-near-you-inner-container .stop-near-you-right-col .stop-near-you-direction {
  align-items: flex-start; // CHECK vertical align with inbound/outbound symbol
}

.citybike-content-container {
  height: initial;
  .availability-container .sub-header-h4 {
    color: $black;
    font-size: $font-size-normal;
  }
  .icon-container .icon {
    width: 3em;
    height: 3em;
  }
}

.citybike-stop-content {
  padding: 0px 60px 0px 48px;
}

/* Route stops page */
/* stop-code in route-stops-list has more padding */
.route-address-row-container .itinerary-stop-code {
	padding: 10px;
}

.route-header .route-info .route-short-name {
	color: $black
}

.route-details-left-column {
  display: flex;
  gap: 15px;
  align-items: center;
}

.route-details-right-column {
  overflow: hidden;
  padding-left: 10px;
}

.location-details_container .route-stop-row_content-container button {
  .route-details_container .route-stop-name {
    font-size: $font-size-small;
  }
  .route-details-bottom-row {
    justify-content: flex-start;
  }
  .route-stop-time {
    color: $black;
    span.time {
      font-size: $font-size-xxsmall;
      &.next {
        color: $black;
      }
      &.first {
        width: inherit;
        margin-left: 0px;
      }
    }
  }
}

.route-stop-container {
  display: flex;

  .itinerary-stop-code {
    width: 50px;
    height: 37px;
    font-size: $font-size-xxsmall;
    font-weight: $font-weight-normal;
    border-color: #ADADAD;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}

.route-schedule-dropdowns .dd-header-title,
.route-schedule-dropdowns .dd-select .dd__placeholder,
.route-schedule-dropdowns .dd-select .dd-right__placeholder {
  color: $black;
}
.route-schedule-dropdowns .dd-header-title {
  font-size: $font-size-xxsmall;
}

.trip-separator {
    width: 60%;
    border-top: 4px dotted $gray;

    svg {
      top: -18px;
    }
}
.route-schedule-container .tab-container {
  margin: 0px;
}

.trip-from, .trip-to {
  width: 80px;
  text-align: right;
}

.route-page-action-bar {
  display: none;
}

.after-scrollable-area {
  display: none;
  @include min-width(tablet) {
    display: none; // EMBARK
  }
}

.route-pattern-select {
  margin: 1px 0 18px 0;
  padding-bottom: 34px;
  border-bottom: 1px solid $lighter-gray;

  .route-pattern-toggle, .react-autosuggest__container {
    border: 1px solid $gray;
    margin: 0px 56px 0px 56px;
    width: inherit;
    font-size: $font-size-normal;
    line-height: 1em;

    .input-display {
      font-size: $font-size-normal;
    }
  }

}

.route-container {
  background-color: inherit;
  //margin: 5px 20px 0 20px;
  margin: initial;
  padding-bottom: 5px;
  &.bp-large {
    //margin: 0 72px 0 $margin-left-right-large;
    margin: initial;
    box-shadow: none;
    padding-bottom: 0px;
    border: inherit;
  }
  .trip-page-alert-container {
    display: flex;
    height: 50px;
  }
}

/* mode colors */
$bus-color: $okc-bus-blue;
$tram-color: $okc-tram-pink;

// Departures Schedule
.timetablerow-linetime {
  min-width: 4.5em;
}

// Popup
.selected-stop-header {
  font-size: $font-size-large;
  font-weight: $font-weight-bold;
}
.selected-stop-popup .card-code {
  border: 0px;
  border-radius: 3px;
  font-size: $font-size-normal;
  color: inherit;
}
div.origin-popup .origin-popup-name {
  width: 300px;
}
div.origin-popup {
  min-width: 350px;
}

// Trip Itinerary
.row.itinerary-row .itinerary-instruction-column .divider {
  border-width: 0;
}
.row.itinerary-row .itinerary-instruction-column .itinerary-leg-first-row .place {
  color: #686869;
  font-size: $font-size-small;
}
.row.itinerary-row .itinerary-instruction-column .itinerary-leg-action {
  border-top-width: 0;
  .itinerary-leg-action-content {
    font-size: $font-size-small;
  }
}
.address-container .address {
  font-size: $font-size-normal;
}
.bp-large .row.itinerary-row .itinerary-time-column .itinerary-time-column-time {
    font-size: $font-size-normal;
}
.row.itinerary-row .itinerary-instruction-column .itinerary-transit-leg-route {
  background-color: inherit;
}
.row.itinerary-row .itinerary-instruction-column .itinerary-leg-first-row {
  border-top-width: 0;
  > :first-child {
    max-width: inherit; // no arrow, so size needs not to be restricted
  }
}
.row.itinerary-row .itinerary-instruction-column .disruption {
  margin-top: 10px;
  margin-bottom: 0;
}
.row.itinerary-row .itinerary-instruction-column .itinerary-leg-first-row .itinerary-leg-row {

  &.stop {
    display: flex;
    gap: 5px;
  }
  a {
    font-size: $font-size-normal;
  }
}

.row.itinerary-row .itinerary-instruction-column .interline-info-container {
  border: inherit;
  color: $gray;
  margin-top: initial;
}
.small-2 {
    width: 25%;
}
.itinerary-summary .duration {
  font-size: $font-size-normal;
  span {
    display: none; // Hide duration span
  }
}
.duration--itinerary-summary, .distance--itinerary-summary {
  align-items: center; // Align midddle after departure time removal
  top: initial;
  padding-bottom: initial;
}

.vehicle-number {
  font-weight: $font-weight-normal;
}

.row.itinerary-row .itinerary-instruction-column .itinerary-transit-leg-route, .row.itinerary-row .itinerary-instruction-column .itinerary-via-leg-duration {
  font-size: $font-size-small;
  color: $gray;
}

.row.itinerary-row .itinerary-instruction-column .itinerary-transit-leg-route .bar-container {
  font-size: $font-size-normal;
  padding: 0px 7px 0px 1px;
  height: inherit;
  .bar {
    height: 48px;
  }
}

.row.itinerary-row .leg-before-line.walk {
  height: 30%;
  top: 40px;
  &:first-child {
    height: 19%;
    top: 55px;
  }
}

.row.itinerary-row .leg-before :last-child {
    bottom: -3.5em;
}

.itinerary-summary .divider-top {
  visibility: hidden;
}

.itinerary-summary .divider-bottom {
  position: relative;
  width: 600px;
  left: -60px;
}

.walk-distance {
  display: flex;
  gap: 5px;
}

.secondary-button.print {
    border: inherit;
    padding: 0px 5px 15px 3px;
    height: inherit;
    font-size: $font-size-xxsmall;
    font-weight: $font-weight-normal;
    .icon-container {
      padding-left: 2px;
      padding-right: 1px;
    }
}

.row.itinerary-row .leg-before-line.bus,
.row.itinerary-row .leg-before-line.tram {
  height: calc(100% - 4em);
  top: 3.5em;
  border-radius: 4px;
}

.itinerary-icon-container {
  left: 4px; // To center align start/end marker
}
.row.itinerary-row .leg-before.first .leg-before-line {
    height: calc(100% - 3em); // shorten transit leg bar if itinerary's first leg is transit leg
}

.row.itinerary-row .leg-before.bus,
.row.itinerary-row .leg-before.tram {
  &:not(.first) .icon-container,
  > .icon-container:last-child {
    left: -12px;
    position: absolute;
  }
  &:not(.first) .icon, // bus/tram lolipop icon at leg start, if not first leg in itinerary
  > :last-child .icon { // bus/tram lolipop icon at leg end
    height: 3em;
    width: 3em;
  }
}

.itinerary-leg-container .row.itinerary-row .leg-before.bus,
.itinerary-leg-container .row.itinerary-row .leg-before.tram {
  .icon {
    height: 2em;
  }
}
.itinerary-leg-container .row.itinerary-row:last-child .leg-before.bus,
.itinerary-leg-container .row.itinerary-row:last-child .leg-before.tram {
  .icon-container:last-child .icon {
    height: 3em;
  }
}

.row.itinerary-row .leg-before-line.walk.bottom {
  background-position-y: 7px;
  height: 10%;
  top: 85%;
}

.okc-icon-button {
  display: flex;
  align-items: center;
  gap: 20px;
  line-height: 1;
  .icon-container {
    height: 1em;
  }
}

.itinerary-summary-info-row {
  display: flex;
  gap: 40px;
  padding-bottom: 20px;
}

.distance--itinerary-summary {
  padding-left: 2px;
  gap: 15px;
  .icon-container {
    line-height: 1;
  }
}

.itinerary-summary {
  padding-left: 20px;
}

// Reset all HSL icon settings
.itinerary-summary .icon {
  margin-right: initial;
  margin-top: initial;
  position: initial;
  height: 1em;
  width: 1em;
  line-height: 1;

  &.clock {
    height: 1em;
    width: 1em;
    top: initial;
  }
  &.walk {
    height: 1em;
    width: 1em;
    top: initial;
  }
  &.bike {
    height: 1em;
    width: 1em;
    top: initial;
  }
  &.car {
    height: 1em;
    width: 1em;
    top: initial;
  }
}
