/* OKC top bar styling */
nav.top-bar {
	border-bottom-width: 6px;
	border-bottom-style: inset;
	border-bottom-color: $primary-color;
}

/* EMBARK leg / vehicle bar styling shall use
   route-color for outline and vehicle symbol */
.bar {
	border-color: currentColor;
	background-color: $white;
	border: 1px solid;
}

.vehicle-number-container-v .vehicle-number {
	color: $black;
}

/* EMBARK map leg bar styling shall use
   route-color for outline and vehicle symbol */

.map .legmarker div {
	border-color: currentColor;
	background-color: $white;
	border: 1px solid;
}

.map-route-number {
  color: $black;
}

input[type='text'] {
   text-transform: capitalize;
}

/* Plan A Trip Page overrides
=> See digitransit-compponent-control-panel/src/helpers/styles.scss
*/

/* Settings overrides*/
.settings-dropdown-wrapper .settings-dropdown-label .settings-dropdown-label-text {
	color: $black;
}

.settings-mode-option-container .settings-mode-option-label .settings-mode-option-label-text {
   color: $black;
}

.settings-header {
  color: $black;
  font-weight: $font-weight-bolder;
}

.mode-option-container label.toggle-label {
  font-size: $font-size-normal;
  font-weight: $font-weight-medium;
}

.mode-option-container .mode-option-block label.mode-name  {
	font-weight: $font-weight-medium;
	font-size: $font-size-normal;
}

/* /Settings overrides*/

/* mode colors */
$bus-color: $okc-bus-blue;
$tram-color: $okc-tram-pink;
