$black: #000;
$gray: #686869;
$font-size-normal: 21px;

.input::placeholder {
	color: $black;
	opacity: 1.0;
}

.container .input {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 4px;
    height: 64px;
    font-size: $font-size-normal;
    color: $black;
    &::placeholder {
    	font-size: $font-size-normal;
   		color: $black;
		opacity: 1;
	}
}

.search-result .suggestion-result .suggestion-label {
	color: $black;
}
