@import '~@hsl-fi/sass/colors';
@import '~@hsl-fi/sass/mixins/screen';
@import '~@hsl-fi/sass/mixins/text';
/* stylelint-disable */

$black: #000;
$font-size-medium: 21px; // was 18px
$font-size-smaller: 18px; // was 16px

.text {
  display: flex;
  line-height: 1;
  font-size: $font-size-medium;
  padding-left: 15px;
  font-weight: var(--font-weight-medium);
  letter-spacing: -0.67px;
  color: $black;
  margin-left: -1px;

  @include min-width(tablet) {
    font-size: 20px;
  }

}

.banner {
  font-size: $font-size-smaller;
  cursor: pointer;
  display: flex;
  margin-top: 0;
  @include min-width(tablet) {
    padding: 7px 13px 6px 16px;
  }
  padding: 6px 13px 6px 16px;
  justify-content: start;
}

.caution {
  margin-top: 0;
  margin-right: 10px;
  display: flex;
}

.container {
  margin: 0;
}
